
<div style="text-align:center;">
    <h4>Sell and Buy new and gently used electronic items</h4>
    <h5>We pay more then anybody else. We pay on the spot.</h5>
</div>

<div class="container hidden-xs">
     <%= link_to show_item_types_path(:item_type => "phones") do %>
     <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
        <div class="row">
          <div class="panel panel-primary" style="border:none !important;">
           <div class="panel-body">
                <img src="/img/item_types/phones.png" alt="" class="img-responsive item-image">
           </div>
           <div class="panel-footer item-desc" style="border:none !important; background: white;">
                      <h3>Phones</h3> <br>
               We buy iPhones, Android, Samsung, <br>
                LG, Google Pixel phones in New York
           </div>
          </div>            
        </div>
    </div>
    <% end %>
     <%= link_to show_item_types_path(:item_type => "tablets") do %>
      <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
         <div class="row">
          <div class="panel panel-primary" style="border:none !important;">
           <div class="panel-body">
                <img src="/img/item_types/tablets.png" alt="" class="img-responsive item-image">
           </div>
           <div class="panel-footer item-desc" style="border:none !important; background: white;">
              <h3>Tablets</h3> <br>
               We buy Apple, Samsung, LG, Microsoft <br>
                tablets in New York area
           </div>
          </div>            
        </div>
    </div>
    <% end %>
    <%= link_to show_item_types_path(:item_type => "laptops") do %>
      <div class="col-lg-4 col-md-4 col-sm-6 hidden-sm hidden-xs">
         <div class="row">
          <div class="panel panel-primary" style="border:none !important;">
           <div class="panel-body">
                <img src="/img/item_types/laptops.png" alt="" class="img-responsive item-image">
           </div>
           <div class="panel-footer item-desc" style="border:none !important; background: white;">
              <h3>Laptops</h3> <br>
               We buy Apple, Samsung, LG, Microsoft <br>
                laptops in New York
           </div>
          </div>            
        </div>
    </div>
    <% end %>
</div>


<div class="container visible-xs">
    <div class="row_">
       <div class="">
         <div class="panel panel-primary">
           <div class="panel-heading">
               Categories 
           </div>
           <div class="panel-body">
                <% @item_types.each do |cat_item_type| %>
                  <%= render :partial => "/layouts/item_type_card", :locals => {:name => cat_item_type.name,
                                                          :picture => "item_types/" + cat_item_type.name + ".png"}%>  
                <% end %>
               </div>
          </div>            
       </div>        
    </div>
</div>

<div class="container">
    <div class="row_">
       <div class="">
         <div class="panel panel-primary">
           <div class="panel-heading">
               Wanted Items 
           </div>
           <div class="panel-body">
                <% @wanted_items.each do |item| %>
                  <%= render :partial => "/layouts/product_card", :locals => {:name => item.name, :price => item.price,
                                                                                  :item_url => item.item_url, :item_type => item.item_type,
                                                                                        :picture => item.pic }%>  
                <% end %>
               </div>
              </div>            
       </div>        
    </div>
</div>

<% @item_types.each do |item_type| %>
    <% next if item_type.name == "phones" %>
    <% next if item_type.name == "tablets" %>
<div class="container hidden-xs">
    <div class="row_">
       <div class="">
         <div class="panel panel-primary">
           <div class="panel-heading hidden">
              <%= item_type.name %>
           </div>
           <div class="panel-body">
             <%= render :partial => "/layouts/item_type_card", :locals => {:name => item_type.name,
                                                          :picture => "item_types/" + item_type.name + ".png"}%> 
                                                          
                <% Item.where(:item_type => item_type.name.downcase).first(5).each do |item| %>
                  <%= render :partial => "/layouts/product_card", :locals => {:name => item.name, :price => item.price,
                                                                                  :item_url => item.item_url, :item_type => item.item_type,
                                                                                        :picture => item.pic }%>  
                <% end %>                                              
           </div>
          </div>            
       </div>        
    </div>
</div>
<% end %>

<div class="container">
    <div class="row_">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <img src="/img/device.jpg" alt="" class="img-responsive item-image">
              </div>
              <div class="panel-footer item-desc">
                  Have any device you want to sell? 
                  We buy new, used and broken items. Give your unwanted items a second chance. If your item is not listed here, it doesn't mean we don't want it.
              </div>
          </div>
        </div> 
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <img src="/img/shop.jpg" alt="" class="img-responsive item-image">
              </div>
              <div class="panel-footer item-desc">
                  Call, text or come in person. Fast, Save and secure way to sell electronic items in New York.
                  No need to talk to creapy strangers, share your home address or meet them in public places. 
              </div>
          </div>
        </div> 
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <img src="/img/cash.jpg" alt="" class="img-responsive item-image">
              </div>
              <div class="panel-footer item-desc">We are buying and selling electronic items in New York area since 2010. Top dollar garantied. We always pay more then any other store. Just type WeBuyGoods in google.
              </div>
          </div>
        </div>  
    </div>
</div>

<div class="container">
    <div class="row_">
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="item-desc">
                <p>** We don't buy outdated electronics. But sometimes the item that you may think is outdated actualy is rare.</p>
            </div>
          </div>
    </div>  
    </div>
</div>
