
<div style="text-align:center;">
    <h1 class="h1_header" > We pay up to <%= @item.price %> for <%= @item.name %> in New York City area</h1>
    <h2 class="h2_header"> Check other <%= @item.item_type %> that we buy </h2>
</div>  


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="panel panel-primary" style="border-color: light-grey !important;">
            <div class="panel-heading">
               <%= @item.name %> (<span style="font-size:13px;">upto</span> <%= @item.price %>)
            </div>
            <div class="panel-body">
               <img src="/img/items/<%= @item.pic %>.jpg" alt="" class="img-responsive item-image"> 
            </div>
            <div class="panel-footer center item-desc"> <%= @item.desc %> </div>
          </div>
        </div>
    
      <div style=""  class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <% @rules.each do |rule| %>
              <p> <%= rule.rule_text %> </p>
            <% end %>
          </div>
        </div>
      </div>
     
    </div>
</div>