<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title> <%= @title %> </title>
  <%= csrf_meta_tags %>

<link rel="stylesheet" href="/css/font-awesome.min.css">

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <!-- use the font -->
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      color: #363636;    
    }
  </style>

</head>
<body>

<%= render "/layouts/navbar" %>
<%= render "/layouts/sliding_mobile_menu" %>
<%= yield %>
<%= render "/layouts/footer"%>
<%= render "/layouts/modal_menu" %>
  <script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
</body>
</html>
